@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Employee List</h1>
    <a button type="button" class="btn btn-primary" asp-page="/Create">Add</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Salary</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var employee in Model.employees)
      {
        <tr>
            <td>@Html.DisplayFor(model=>employee.Id)</td>
            <td>@Html.DisplayFor(model=>employee.Name)</td>
            <td>@Html.DisplayFor(model=>employee.Surname)</td>
            <td>@Html.DisplayFor(model =>employee.Salary)</td>
            <td><a button type="button" class="btn btn-danger"  asp-route-id="@employee.Id" asp-page="/Delete">Delete</a></td>
        </tr>
      }
  </tbody>
</table>